html{
    font-size: 100%;
    box-sizing: border-box;
    
}

*{
   margin: 0px;
}

*, *::before, ::after{
    box-sizing: inherit;
}

//spacing
.container{
    padding-left: 5.875rem;
    padding-right: 5.875rem;

}

//flexbox
.flex{
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }

    &-jc-c{
        justify-content: center;
    }

    &-ai-c{
        align-items: center;
    }
}

//Container
.container-dropdown{
    display:block;
    margin: 0px;
    
}
//dropdown
.dropdown:hover .dropdown_animation{
    visibility: visible;
    opacity: 100%;
    top: 60px;
}

.sticky{
    position: sticky;
    top: 0px; 
    width: 100%;
}

.center {
 margin: 0;
 position: relative;
 top: 50%;
 left: 50%;
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
}

