.header{
    margin:  0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: white;

    &_header{
        width: 100%;
        height:100%;
        background: white;             
    } 
    &_logo{
        margin: 10px 0;
        
    }
    
    //Searchbox Stlyes
    &_searchbox{
    font-family: 'Montserrat', sans-serif;
    outline: 0px;
    margin: 0;
    padding: 10px;
    border: 1px;
    right: 28%;
    position: absolute;
    width: 100px;
    font-size: 12px;
    cursor: pointer;
    }
    
    &_searchbox:hover{
        font-family: 'Montserrat', sans-serif;
        color: $spanish_viridians;
    }
    
    //overlay stlyes
    &_overlaySrch{
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color:$spanish_viridians;
        background-color:$spanish_viridians;
        opacity: 80%;
       
        &_content{
            position: relative;
            top: 46%;
            width: 80%;
            margin-top: 30px;
            margin: auto;
            
        &_search{
            border: 0px;
            background-color: $spanish_viridians;
            font-size: 87px;
            font-family: 'Montserrat', sans-serif;
            color: $honey_yellow;
            position: absolute;
            top: 50%;
        }
        }
        
    
        &_closebtn{
            cursor: pointer;
            
            :first-child{
            display: block;
            width: 1px;
            height: 30px;
            background-color: white;
            margin: 0;
            padding: 0;
            position: absolute;
            transform: rotate(45deg);
            top: 5%;
            left: 90%;

            }
            :last-child{
            display: block;
            width: 1px;
            background-color: white;
            height: 30px;
            margin: 0;
            padding: 0;
            position: absolute;
            transform: rotate(-45deg);
            top: 5%;
            left: 90%;
            }
        }
        

        &_closebtn:hover{
            >span{
                background-color: $honey_yellow;
            }
        }
    
    }
    
    //Divider block to Social media
    &_divider{
        >span{
            display: block;
            width: 1px;
            height: 30px;
            background-color: #007f5f;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 22px;
            left: 72%;
        }
    
        span:hover{
            cursor: not-allowed;
        }
    }

   
 //Second nav bar
    &_secondlink{
    width: 100%;
    background-color: $spanish_viridians;
    height: 51px;
    top: 0px;
    position: sticky;

      
        &_list{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        text-decoration: none;
        overflow: hidden;
       
        >li{
            font-family: 'Montserrat', sans-serif;
            float: left;
        

        >a{
            display: block;
            color:white;
            text-align: center;
            padding: 19px 25px;
            text-decoration: none;
            font-size: x-small;
            transition: color 300ms ease-in-out;
         }

        >a:hover{
                color: $honey_yellow;
                
            }
        
        }
        //dropdown Houndouts
            &_handouts{
            &_container{
                visibility: hidden;
                position: absolute;
                background-color: #ffffff;
                top: 50px;
                border-radius: 10px;
                width: 250px;
                height: 200px;
                opacity: 0;
                display: block;
                z-index: 1;
                transition: top 300ms, opacity 0.5s ease-in-out;
                
                &_list{
                   list-style-type: none;
                   overflow: hidden;
                   text-decoration: none;
                   position: absolute;
                   padding-left: 15px;
                   width: 230px;
                   
                   >li{
                   >a{
                    display: block;
                    color: #7f7f7f;
                    text-align: left;
                    padding: 10px 2px;
                    text-decoration: none;
                    font-size: small;
                    transition: color 300ms, margin-left 300ms ease-in-out;
                    top:1px;
                   }
                   >span{
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #cccccc;
                    }
                   
                    >a:hover{
                      color: $spanish_viridians;
                      margin-left: 5px;
                    }
                    }
                 
                }
                
                >span{
                  display: block;
                  padding: 10px;
                  padding-top: 29px;
                  padding-left: 20px;
                  color: $spanish_viridians;
                }
               }
            }   
         //dropdown Activities
            &_activity{
            &_container{
                visibility: hidden;
                position: absolute;
                background-color: #ffffff;
                top: 50px;
                border-radius: 10px;
                width: 250px;
                height: 200px;
                opacity: 0;
                transition: top 300ms, opacity 0.5s ease-in-out;
                
                &_list{
                   list-style-type: none;
                   overflow: hidden;
                   text-decoration: none;
                   position: absolute;
                   padding-left: 15px;
                   width: 230px;
                   
                   >li{
                   >a{
                    display: block;
                    color: #7f7f7f;
                    text-align: left;
                    padding: 10px 2px;
                    text-decoration: none;
                    font-size: small;
                    transition: color 300ms, margin-left 300ms ease-in-out;
                    top:1px;
                   }
                   >span{
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #cccccc;
                    }
                   
                    >a:hover{
                      color: $spanish_viridians;
                      margin-left: 5px;
                    }
                    }
                 
                }
                
                >span{
                  display: block;
                  padding: 10px;
                  padding-top: 29px;
                  padding-left: 20px;
                  color: $spanish_viridians;
                }
            }
           }
         //dropdown exam
            &_exam{
            &_container{ 
                visibility: hidden;
                display: block;
                position: absolute;
                background-color: #ffffff;
                top: 50px;
                border-radius: 10px;
                width: 250px;
                height: 200px;
                opacity: 0;
                transition: top 300ms, opacity 0.5s ease-in-out;
               
                
                &_list{
                   list-style-type: none;
                   overflow: hidden;
                   text-decoration: none;
                   position: absolute;
                   padding-left: 15px;
                   width: 230px;
                   
                   >li{
                   >a{
                    display: block;
                    color: #7f7f7f;
                    text-align: left;
                    padding: 10px 2px;
                    text-decoration: none;
                    font-size: small;
                    transition: color 300ms, margin-left 300ms ease-in-out;
                    top:1px;
                   }
                   >span{
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #cccccc;
                    }
                   
                    >a:hover{
                      color: $spanish_viridians;
                      margin-left: 5px;
                    }
                    }
                 
                }
                
                >span{
                  display: block;
                  padding: 10px;
                  padding-top: 29px;
                  padding-left: 20px;
                  color: $spanish_viridians;
                }
            }
            }
        } 
    }
}