html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0px;
}

*, *::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  padding-left: 5.875rem;
  padding-right: 5.875rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-dropdown {
  display: block;
  margin: 0px;
}

.dropdown:hover .dropdown_animation {
  visibility: visible;
  opacity: 100%;
  top: 55px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
}

.center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: white;
}

.header_header {
  width: 100%;
  height: 100%;
  background: white;
}

.header_logo {
  margin: 10px 0;
}

.header_searchbox {
  font-family: 'Montserrat', sans-serif;
  outline: 0px;
  margin: 0;
  padding: 10px;
  border: 1px;
  right: 28%;
  position: absolute;
  width: 100px;
  font-size: 12px;
  cursor: pointer;
}

.header_searchbox:hover {
  font-family: 'Montserrat', sans-serif;
  color: #007f5f;
}

.header_overlaySrch {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #007f5f;
  background-color: #007f5f;
  opacity: 80%;
}

.header_overlaySrch_content {
  position: relative;
  top: 46%;
  width: 80%;
  margin-top: 30px;
  margin: auto;
}

.header_overlaySrch_content_search {
  border: 0px;
  background-color: #007f5f;
  font-size: 87px;
  font-family: 'Montserrat', sans-serif;
  color: #FDB833;
  position: absolute;
  top: 50%;
}

.header_overlaySrch_closebtn {
  cursor: pointer;
}

.header_overlaySrch_closebtn :first-child {
  display: block;
  width: 1px;
  height: 30px;
  background-color: white;
  margin: 0;
  padding: 0;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5%;
  left: 90%;
}

.header_overlaySrch_closebtn :last-child {
  display: block;
  width: 1px;
  background-color: white;
  height: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 5%;
  left: 90%;
}

.header_overlaySrch_closebtn:hover > span {
  background-color: #FDB833;
}

.header_divider > span {
  display: block;
  width: 1px;
  height: 30px;
  background-color: #007f5f;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 22px;
  left: 72%;
}

.header_divider span:hover {
  cursor: not-allowed;
}

.header_secondlink {
  width: 100%;
  background-color: #007f5f;
  height: 51px;
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
}

.header_secondlink_list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  overflow: hidden;
}

.header_secondlink_list > li {
  font-family: 'Montserrat', sans-serif;
  float: left;
}

.header_secondlink_list > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 19px 25px;
  text-decoration: none;
  font-size: x-small;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header_secondlink_list > li > a:hover {
  color: #FDB833;
}

.header_secondlink_list_handouts_container {
  visibility: hidden;
  position: absolute;
  background-color: #ffffff;
  top: 50px;
  border-radius: 10px;
  width: 250px;
  height: 200px;
  opacity: 0;
  display: block;
  z-index: 1;
  -webkit-transition: top 300ms, opacity 0.5s ease-in-out;
  transition: top 300ms, opacity 0.5s ease-in-out;
}

.header_secondlink_list_handouts_container_list {
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
  position: absolute;
  padding-left: 15px;
  width: 230px;
}

.header_secondlink_list_handouts_container_list > li > a {
  display: block;
  color: #7f7f7f;
  text-align: left;
  padding: 10px 2px;
  text-decoration: none;
  font-size: small;
  -webkit-transition: color 300ms, margin-left 300ms ease-in-out;
  transition: color 300ms, margin-left 300ms ease-in-out;
  top: 1px;
}

.header_secondlink_list_handouts_container_list > li > span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}

.header_secondlink_list_handouts_container_list > li > a:hover {
  color: #007f5f;
  margin-left: 5px;
}

.header_secondlink_list_handouts_container > span {
  display: block;
  padding: 10px;
  padding-top: 29px;
  padding-left: 20px;
  color: #007f5f;
}

.header_secondlink_list_activity_container {
  visibility: hidden;
  position: absolute;
  background-color: #ffffff;
  top: 50px;
  border-radius: 10px;
  width: 250px;
  height: 200px;
  opacity: 0;
  -webkit-transition: top 300ms, opacity 0.5s ease-in-out;
  transition: top 300ms, opacity 0.5s ease-in-out;
}

.header_secondlink_list_activity_container_list {
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
  position: absolute;
  padding-left: 15px;
  width: 230px;
}

.header_secondlink_list_activity_container_list > li > a {
  display: block;
  color: #7f7f7f;
  text-align: left;
  padding: 10px 2px;
  text-decoration: none;
  font-size: small;
  -webkit-transition: color 300ms, margin-left 300ms ease-in-out;
  transition: color 300ms, margin-left 300ms ease-in-out;
  top: 1px;
}

.header_secondlink_list_activity_container_list > li > span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}

.header_secondlink_list_activity_container_list > li > a:hover {
  color: #007f5f;
  margin-left: 5px;
}

.header_secondlink_list_activity_container > span {
  display: block;
  padding: 10px;
  padding-top: 29px;
  padding-left: 20px;
  color: #007f5f;
}

.header_secondlink_list_exam_container {
  visibility: hidden;
  display: block;
  position: absolute;
  background-color: #ffffff;
  top: 50px;
  border-radius: 10px;
  width: 250px;
  height: 200px;
  opacity: 0;
  -webkit-transition: top 300ms, opacity 0.5s ease-in-out;
  transition: top 300ms, opacity 0.5s ease-in-out;
}

.header_secondlink_list_exam_container_list {
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
  position: absolute;
  padding-left: 15px;
  width: 230px;
}

.header_secondlink_list_exam_container_list > li > a {
  display: block;
  color: #7f7f7f;
  text-align: left;
  padding: 10px 2px;
  text-decoration: none;
  font-size: small;
  -webkit-transition: color 300ms, margin-left 300ms ease-in-out;
  transition: color 300ms, margin-left 300ms ease-in-out;
  top: 1px;
}

.header_secondlink_list_exam_container_list > li > span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}

.header_secondlink_list_exam_container_list > li > a:hover {
  color: #007f5f;
  margin-left: 5px;
}

.header_secondlink_list_exam_container > span {
  display: block;
  padding: 10px;
  padding-top: 29px;
  padding-left: 20px;
  color: #007f5f;
}

.body {
  margin: 0px;
  padding: 0px;
  background-color: #FDB833;
  width: 100%;
}

.body_box {
  height: 625px;
}

.body_box_frames_imgs {
  height: 100px;
}

.footer {
  margin: 0;
  padding: 0;
}

.footer_box {
  width: 100%;
  height: 100px;
  background-color: #007f5f;
}

@font-face {
  font-family: Gilroy;
  src: "C:\Users\user\Desktop\Portfolio\Portfolio\Assets\Gilroy-Light.eot";
}

.body1 {
  margin: 0;
  padding: 0;
  background-color: white;
}

.body1 > h1 {
  position: relative;
  font-family: 'Gilroy', sans-serif;
  top: 30px;
  left: 30px;
  font-size: 90px;
  z-index: -1;
  color: #007f5f;
  width: 1000px;
}

.body1 > h4 {
  position: relative;
  font-family: 'Gilroy', sans-serif;
  font-weight: 100;
  font-size: 5px;
  top: 30px;
  left: 50px;
  font-size: 20px;
  z-index: -1;
  width: 1000px;
  color: #cccccc;
}

.body1 #title {
  margin-bottom: 35px;
}

.body1_container {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1000px;
  top: 10px;
}

.body1_container_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0px 0px 30px;
}

.body1_container_content_item {
  width: 900px;
  margin: 20px 0px;
}

.body1_container_content_item > h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #007f5f;
}

.body1_container_content_item > h6 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 100;
  margin: 0px 0px 5px 0px;
  font-size: x-small;
}

.body1_container_content_item > p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */